*{
  margin: 0;
  padding: 0;
}

body{
  background: #23262D;
}

@mixin paragraphe{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

@mixin btn-green{
  button{
    background-color:  #D5A24F;
    padding: 16px 32px;
    border: none;
    font-family: "Poppins";
    font-size: 14px;
    color: #fff;
  }
}

@mixin h2{
    font-family: "Yrsa";
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

@mixin txt-green{
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #D5A24F;
}

@mixin svg-bg{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #2F383D;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50px;
    height: 35px;
    object-fit: contain;
  }
}

@mixin color-txt{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

@mixin bg-black{
  background: #2F383D;
}

@mixin title-card{
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

@mixin card-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin btn-border{
  border: 2px solid #fff;
  padding: 16px 32px;
  background: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  }

@mixin card{
  width: 100%;
  padding-bottom: 10px;
  figure{
    width: 100%;
    height: 241px;
    img{
      width: 100%;
      height: 241px;
      object-fit: cover;
    }
  }
}

.title-card{
  @include title-card;
}

.txt-card{
  @include paragraphe;
  text-align: center;
}

.btn-card{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    @include btn-border;
  }
}








