.testimonial{
    padding-left: 383px;
    padding-right: 383px;
    margin-top: 100px;
    p{
        text-align: center;
        padding-top: 20px;
    }
}

.quote{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.name{
    font-family: "Poppins" ,sans-serif;
}